// paleta de colores
$color1: #c778bc;
$color2: #FFFF51;
$color3: #acaaaa;
$color4: #07917e;

// fuentes
$font1: "Inconsolata", monospace;
$font2: "Zen Kaku Gothic New", sans-serif;


/* botón de desplazamiento hacia arriba */

#scroll-to-top.custom-btn {
    height: 50px;
    width: 50px;
    background-color: #c778bc;
    position: fixed;
    bottom: 40px;
    right: 60px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 30px;
    box-shadow: 0 0 15px #fff;
    border-radius: 50%;

    &:hover {
        background-color: #FFFF51;
        color: #c778bc;
    }
}



@import "./variables";
@import "./responsive";
@import "./reset";
@import "./fuentes";
@import "./header";
@import "./footer";
@import "./inicio";
@import "./productos";
@import "./proyectos";
@import "./comocomprar";
@import "./contacto";
@import "./sobreMhoe";