// paleta de colores
$color1: #c778bc;
$color2: #FFFF51;
$color3: #acaaaa;
$color4: #07917e;

// fuentes
$font1: "Inconsolata", monospace;
$font2: "Zen Kaku Gothic New", sans-serif;


@import "./variables";
@import "./responsive";
@import "./reset";
@import "./fuentes";
@import "./header";
@import "./footer";
@import "./inicio";
@import "./productos";
@import "./proyectos";
@import "./comocomprar";
@import "./contacto";
@import "./sobreMhoe";