// paleta de colores
$color1: #c778bc;
$color2: #FFFF51;
$color3: #acaaaa;
$color4: #07917e;

// fuentes
$font1: "Inconsolata", monospace;
$font2: "Zen Kaku Gothic New", sans-serif;


// botón de desplazamiento hacia arriba
#scroll-to-top.custom-btn {
    height: 50px;
    width: 50px;
    background-color: #D1D0D0;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
    color: #fff;
    line-height: 35px;
    font-size: 70px;
    box-shadow: 0 0 5px #fff;
    border-radius: 100%;
}


@import "./variables";
@import "./responsive";
@import "./reset";
@import "./fuentes";
@import "./header";
@import "./footer";
@import "./inicio";
@import "./productos";
@import "./proyectos";
@import "./comocomprar";
@import "./contacto";
@import "./sobreMhoe";